
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1463216776'); /* IE9*/
  src: url('iconfont.eot?t=1463216776#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1463216776') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1463216776') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1463216776#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lanmu:before { content: "\e60d"; }
.icon-wenzhang:before { content: "\e6bc"; }
.icon-release:before { content: "\e618"; }
.icon-key:before { content: "\3457"; }
.icon-iconfont28:before { content: "\e70b"; }
.icon-dianzan:before { content: "\e633"; }
.icon-guanggaopai:before { content: "\e6f2"; }
.icon-huiyuan:before { content: "\e604"; }
.icon-groupcopy5:before { content: "\e612"; }
.icon-shenhe:before { content: "\e69e"; }
